/* VARIABLES */
:root{
  --main-font-family:"Public Sans", "Arial", sans-serif;
  --Ibarra-font-family: "Ibarra Real Nova", "Times New Roman", serif;
  --main-font-size:12px;
  --main-line-height:14px;
  --main-bg-color : #fff; 
  --slightly-Desaturated-Cyan:#5fb4a2; 
  --dark-blue: #203a4c; 
  --grayish-dark-blue : #33323d; 
  --very-light-grey:#fafafa;
  --light-grey:#eaeaeb;
  --bright-red:#f43030;
}